@zIndex-top: 100;

html {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
}

html, 
body, 
#map-canvas { 
	height: 100%;
	width: 100%; 
	margin: 0; 
	padding: 0;
}

.overlay {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 150px;
	color: rgba(255,255,255,0.8);
	padding: 60px 15px 15px 30px;
	box-sizing: border-box;
	
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=0 ); /* IE6-9 */
}

.navigate {
	position: fixed;
	z-index: @zIndex-top;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: rgba(0,0,0,0.5);
	
	& > .fa {
		font-size: 100px;
	}
	
	&.navigate-next {
		right: 20px;
	}
	
	&.navigate-previous {
		left: 20px;
	}
}

.title {
	font-weight: 100;
	font-size: 28px;
}

.description {
	font-size: 16px;
	color: rgba(255,255,255,0.6);
	margin-top: 5px;
	
	& > .fa-map-marker {
		margin-right: 5px;
	}
}

.loading-container {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: @zIndex-top;
	background-color: rgba(0,0,0,0.8);
}

.spinner-container {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -60px;
}

.spinner {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: #AAA;

  border-radius: 100%;  
  -webkit-animation: scaleout 0.9s infinite ease-in-out;
  animation: scaleout 0.9s infinite ease-in-out;
}

.spinner-label {
	text-align: center;
	margin-top: 15px;
	color: #999;
	font-size: 20px;
	font-weight: 100;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}